

<head>  
  <link rel="stylesheet" href="node_modules/aos/dist/aos.css" />
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
  AOS.init();
</script>
<app-navbar></app-navbar>
<main  style="background-color: black;">
  <section class="wrapper">
    <video  minHeight="105vh" width="100%" autoplay loop muted playsinline oncanplay="this.play()" onloadmetadata="this.muted=true">
    <source src="../../assets/diverse.mp4" type="video/mp4"/>
  </video>
  <!--<iframe  height="1000vh" width="100%"
  src="https://youtu.be/aSPsgyuWC-8"><!-autoplay=1&mute=1&modestbranding=1&autohide=1&showinfo=0&controls=0->
  </iframe>-
  <iframe width="1920px" height="600vh" src="https://www.youtube.com/embed/aSPsgyuWC-8?autoplay=100&mute=1&modestbranding=1&autohide=1&showinfo=0&controls=0"></iframe>-->
  
  </section>
 
<!-- <div class="col-lg-12 col-sm-6 col-md-6" style="background-color: black;">
  <ng-image-slider [images]="imageObject" [infinite]="true"
  [autoSlide]="0"
  [imageSize]="{width: '400vw', height: '500vh'}"
  slideImage="1"></ng-image-slider>
</div>
<div class='col-lg-12 col-sm-3 col-md-6'>    
   
<owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']"  >  
  <div class="item" *ngFor="let img of Images">  
  <div style="align-content: center">  
  <img style="height: 70%;width:100%"src={{img}}/>  
  </div>  
  </div>  
</owl-carousel>  
</div>

<swiper
[slidesPerView]="3"
[spaceBetween]="50"
(swiper)="onSwiper($event)"
(slideChange)="onSlideChange()"
>
<ng-template swiperSlide>Slide 1</ng-template>
<ng-template swiperSlide>Slide 2</ng-template>
<ng-template swiperSlide>Slide 3</ng-template>
</swiper> -->

  <!-- <section class="section section-lg pt-lg-0 mt--200">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <i class="ni ni-check-bold"></i>
                  </div>
                  <h6 class="text-primary text-uppercase">Download Argon</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-primary">angular</span>
                    <span class="badge badge-pill badge-primary">ng-bootstrap</span>
                    <span class="badge badge-pill badge-primary">creative</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <i class="ni ni-istanbul"></i>
                  </div>
                  <h6 class="text-success text-uppercase">Build Something</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-success">business</span>
                    <span class="badge badge-pill badge-success">vision</span>
                    <span class="badge badge-pill badge-success">success</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-success mt-4">Learn more</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <i class="ni ni-planet"></i>
                  </div>
                  <h6 class="text-warning text-uppercase">Prepare Launch</h6>
                  <p class="description mt-3">Argon is a great free UI package based on Angular that includes the most important components and features.</p>
                  <div>
                    <span class="badge badge-pill badge-warning">marketing</span>
                    <span class="badge badge-pill badge-warning">product</span>
                    <span class="badge badge-pill badge-warning">launch</span>
                  </div>
                  <a href="javascript:void(0)" class="btn btn-warning mt-4">Learn more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="section section-sm pt-0 al" style="background-color: black;padding-bottom: 0rem;">
    <div class="wow fadeInDown container"  data-wow-delay="5s">
      <div class="row row-grid align-items-center">
        <div class="col-md-6" style="color:white">
          <div class="animated fadeIn pr-md-5" >
            <h1 data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="mb-3 mt-2" style="color:white">About Diverse</h1>
            <div data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000" class="d-flex align-items-center">
            <p data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">Diverse is a NFT Alpha Portal-hub to other projects exclusively! Our Art consists of crafted life-like art pieces, 🌍 We take global prospectives and reflect them in our project which promotes diversity, equality and inclusion in the NFT Space, The variations includes 5 main male and female figures, each with their own unique ethnicities that showcase the truly diverse cultural roots of the earth we inhabit together. <br><br>Diverse is a community-driven project focused on encapsulating our diverse world and bringing individuals together that make the Earth a beautiful place!</p>
            </div>

            
           
          </div>
        </div>
        <div class="col-md-6">
          <img src="./assets/about.png" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
      
     <section class="section-lg" style="background-color: rgb(37, 37, 37);">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">  
        <div ngxSlickItem *ngFor="let image of images" class="slide">  
          <img class="" src="{{ image.img }}" width="100%">  
        </div>  
      </ngx-slick-carousel>  
     </section>
  <section class="section section-md pb-0" style="background-image: url(../../assets/coren.png);">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-8">
          <h2 data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" class="display-3" style="color: white;">ROADMAP</h2>
        </div>
      </div>
      <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
                <ul class="timeline timeline-centered">
                    <li class="timeline-item">
                  
                        <div class="timeline-marker"></div>
                        <div class="timeline-content animate__delay-6s" style="color: white;">
                            <h4 data-aos="fade-left"
                            data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000" class="timeline-title" style="color: white;">DIVERSE IN METAVERSE</h4>
                            <h5 style="color: WHITE; opacity: 0.5;">Completed ✅ </h5>
                            <p data-aos="fade-left"
                            data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000" class="text-muted">As we mature as a project, DIVERSE will be in the metaverse where we will host shows and festivals! Art galleries where you can walk and purchase the NFT directly from there, club houses, lounges , game slots and much more! We look forward to celebrating our community and showing everyone how strong we are! 
                          </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                        
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h4 data-aos="fade-right"
                            data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000" class="timeline-title" style="color: white;">DIVERSE ALPHA REBRAND</h4>
                            <h5 style="color: WHITE; opacity: 0.5;">In Progress.. </h5>
                            <p data-aos="fade-right"
                            data-aos-easing="ease-out-cubic"
                            data-aos-duration="2000" class="text-muted">Diverse Alpha rebrand aiming to be the biggest alpha project in the NFT space! Meaning that diverse will be a portal hub to other projects, introducing diverse alpha pass card mint for our diverse NFT holders, the card access will have benefits such as alpha access chat, free NFTS and whitelists from other projects, analysis and news of the nft space and projects, $ETH reward’s, and so on. 
                          </p>
                        </div>
                    </li>
                    <li class="timeline-item">
                      
                      <div class="timeline-marker"></div>
                      <div class="timeline-content animate__delay-6s" style="color: white;">
                        <h4 data-aos="fade-left"
                        data-aos-easing="ease-out-cubic"
                        data-aos-duration="2000" class="timeline-title" style="color: white;">DIVERSE MERCH </h4>
                        <h5 style="color: WHITE; opacity: 0.5;">In Progress.. </h5>
                        <p data-aos="fade-left"
                        data-aos-easing="ease-out-cubic"
                        data-aos-duration="2000" class="text-muted">We will be launching our exclusive merchandise, We are incredibly excited for everyone to rep DIVERSE and show the world our project! & guess what? Our lucky OG holders and long term holders will receive a discount upon their purchase of the merch. 
                      </p>
                    </div>
                  </li>
                    <li class="timeline-item">
                     
                        <div class="timeline-marker"></div>
                        <div class="timeline-content animate__delay-6s" style="color: white;">
                          <h4 data-aos="fade-right"
                          data-aos-easing="ease-out-cubic"
                          data-aos-duration="2000" class="timeline-title" style="color: white;">$Fanverse X DIVERSE </h4>
                          <h5 style="color: WHITE; opacity: 0.5;">In Progress.. </h5>
                          <p data-aos="fade-right"
                          data-aos-easing="ease-out-cubic"
                          data-aos-duration="2000" class="text-muted">Diverse NFT holders will be able to earn FanVerse dividends staking, the way we are doing that is registering the founder wallet Shamoun has as the Diverse community wallet for the duration of the 12 month staking period. 
                        </p>
                      </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content animate__delay-6s" style="color: #ffffff;">
                          <h4 data-aos="fade-left"
                          data-aos-easing="ease-out-cubic"
                          data-aos-duration="2000" class="timeline-title" style="color: white;">How do you earn your dividends?</h4>
                          <h5 style="color: WHITE; opacity: 0.5;">In Progress.. </h5>
                          <p data-aos="fade-left"
                          data-aos-easing="ease-out-cubic"
                          data-aos-duration="2000" class="text-muted">After the staking period is done, everyone that is registered on our previous list will be able to login to a claim portal and grab their dividends from the portal to the registered address of theirs!
                        </p>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="container pt-3">
      <div class="row justify-content-center text-center mb-0 ">
        <div data-aos="fade-up"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"  class="col-lg-8">
          <h2 data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  class="display-3" style="color: white;">The Team</h2>
          
        </div>
      </div>
      <div class="container mt-0 pt-0">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://twitter.com/ShamounDillon" target="_blank" style="color: white;">
                      <img src="./assets/18.png" class="img-fluid mt-3">
                    <h6  class="text-uppercase mt-4" style="color: white;">DillON</h6>
                    <p class="description mb-0" >FOUNDER</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://twitter.com/Mainhoodgirl" target="_blank" style="color: white;">
                      <img src="./assets/19.png" class="img-fluid mt-3">
                      <h6 class="text-uppercase mt-4" style="color: white;">Sky</h6>
                      <p class="description mb-0" >FOUNDER</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://twitter.com/777Gaige777" target="_blank" style="color: white;">
                      <img src="./assets/g.jpg" class="img-fluid mt-3">
                      <h6 class="text-uppercase mt-4" style="color: white;">Gaige</h6>
                      <p class="description mb-0" >BRAND STRATEGIST</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://praj.io" target="_blank" style="color: white;">
                      <img src="./assets/20.png" class="img-fluid mt-3">
                    <h6 class="text-uppercase mt-4" style="color: white;">Praj</h6>
                    <p class="description mb-0" >Head Developer</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://discord.gg/diverse" target="_blank" style="color: white;">
                      <img src="./assets/27.png" class="img-fluid mt-3">
                    <h6  class="text-uppercase mt-4" style="color: white;">Jah</h6>
                    <p  class="description mb-0" >Designer</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://degen.rocks/" target="_blank" style="color: white;">
                      <img src="./assets/28.png" class="img-fluid mt-3">
                    <h6 class="text-uppercase mt-4" style="color: white;">Datts</h6>
                    <p class="description mb-0" >Developer</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://degen.rocks" target="_blank" style="color: white;">
                      <img src="./assets/29.png" class="img-fluid mt-3">
                    <h6 class="text-uppercase mt-4" style="color: white;">Smaran</h6>
                    <p class="description mb-0" >Developer</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>

              <div class="col-lg-3">
                <div data-aos="fade-up"
                data-aos-easing="ease-out-cubic"
                data-aos-duration="2000"  class="card card-lift--hover shadow border-0" class="card_style">
                  <div class="card-body">
                    <a href="https://discord.gg/diverse" target="_blank" style="color: white;">
                      <img src="./assets/7.png" class="img-fluid mt-3">
                    <h6 class="text-uppercase mt-4" style="color: white;">Rivardo</h6>
                    <p class="description mb-0" >Animator</p>

                    </a>
            
<!--                     <a href="javascript:void(0)" class="btn btn-primary mt-4">Learn more</a>
 -->                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 al">
          <h4 data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000" class="display-3 text-white al pt-5">Looking For Answers?</h4>
          <p data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  class="text-white text-muted al">FREQUENTLY ASKED QUESTIONS</p>
          <img src="./assets/42.png" class="img-center img-fluid">
        </div>
        <div class="col-md-6">
          <div class="pl-md-5 mb-2 mt-0"  class="accor">
            <div class="row question-tab mt-0 mb-2
            ">
          <!-- /.col-lg-4 -->
          <div data-aos="fade-up"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000"  class="mb-2" *ngFor="let item of data;let i = index;">
            <button class="accordion" (click)="toggleAccordian($event, i)"> {{item.parentName}} </button>
            <div class="panel" *ngFor="let child of item.childProperties" hide="!item.isActive">
            <p class="mainpage_accordion__title"> {{child.propertyName}} </p>
          </div>
          </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-sm pt-0 al" style="background-color: #647177;padding-bottom: 0rem;">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6 order-md-2">
          <img src="./assets/Re.png" class="img-fluid">
        </div>
        <div class="animate__animated animate__fadeInDown timeline-content animate__delay-10s col-md-6 order-md-1 " style="color:white">
          <div class="pr-md-5" >
            <h2 data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"  class="display-3 text-white">Join The Community</h2>
            <div data-aos="fade-up"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000"  class="d-flex align-items-center">
            <p class="mt-2 mb-2 text-white"> Diverse Discord already has over 40,000 plus members!!
              If you want to join the diverse discord its here!
              Join us to get the news as soon as possible and follow our latest announcements <br/><br/>
            
You're never alone<br/>
Together we are Strong <br/>
We are One!!
            </p>
  
          </div>
            
            <ul class="list-unstyled mt-2">
              <li >
                <div class="row d-flex align-items-center">
                  <div class="col-sm-2 col-lg-6 col-md-5 ml-0 mt-2 ">
                    <button data-aos="fade-up"
                    data-aos-easing="ease-out-cubic"
                    data-aos-duration="2000"   class="btn"  style="background-color: cornflowerblue; color: white;" type="button"><a href="https://discord.gg/diverse/" style="color: white;">JOIN OUR DISCORD</a></button>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section section-lg bg-gradient-default">
    <div class="container pt-lg pb-300">
      <div class="row text-center justify-content-center">
        <div class="col-lg-10">
          <h2 class="display-3 text-white">Build something</h2>
          <p class="lead text-white">According to the National Oceanic and Atmospheric Administration, Ted, Scambos, NSIDClead scentist, puts the potentially record low maximum sea ice extent tihs year down to low ice.</p>
        </div>
      </div>
      <div class="row row-grid mt-5">
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-settings text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Building tools</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-ruler-pencil text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Grow your market</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="col-lg-4">
          <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
            <i class="ni ni-atom text-primary"></i>
          </div>
          <h5 class="text-white mt-3">Launch time</h5>
          <p class="text-white mt-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg pt-lg-0 section-contact-us">
    <div class="container">
      <div class="row justify-content-center mt--300">
        <div class="col-lg-8">
          <div class="card bg-gradient-secondary shadow">
            <div class="card-body p-lg-5">
              <h4 class="mb-1">Want to work with us?</h4>
              <p class="mt-0">Your project is very important to us.</p>
              <div class="form-group mt-5" [ngClass]="{'focused':focus===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                  </div>
                  <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="form-group" [ngClass]="{'focused':focus1===true}">
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true" (blur)="focus1=false">
                </div>
              </div>
              <div class="form-group mb-4">
                <textarea class="form-control form-control-alternative" name="name" rows="4" cols="80" placeholder="Type a message..."></textarea>
              </div>
              <div>
                <button type="button" class="btn btn-default btn-round btn-block btn-lg">Send Message</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section class="section section-lg">
    <div class="container">
      <div class="row row-grid justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="display-3">Do you love this awesome
            <span class="text-success">Design System for Angular?</span>
          </h2>
          <p class="lead">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim where you can find the Design System in Angular. Start a new project or give an old Angular project a new look!</p>
          <div class="btn-wrapper">
            <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" class="btn btn-primary mb-3 mb-sm-0">Download Angular</a>
          </div>
          <div class="text-center">
            <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
            <div class="row justify-content-center">
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Bootstrap 4 - Most popular front-end component library">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/bootstrap.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Angular - One framework. Mobile &amp; desktop">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/angular.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.creative-tim.com/product/vue-argon-design-system?ref=adsa-landing-page" target="_blank" placement="top" ngbTooltip="Vue.js - The progressive javascript framework">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/vue.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.sketchapp.com/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Sketch - Digital design toolkit">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/sketch.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://www.adobe.com/products/photoshop.html?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/ps.jpg" class="img-fluid opacity-3">
                </a>
              </div>
              <div class="col-lg-2 col-4">
                <a href="https://reactjs.org/?ref=creative-tim" target="_blank" placement="top" ngbTooltip="[Coming Soon] React - A JavaScript library for building user interfaces">
                  <img src="https://s3.amazonaws.com/creativetim_bucket/tim_static_images/presentation-page/react.jpg" class="img-fluid opacity-3">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>-->
</main>
<app-footer></app-footer>