<div  class="position-relative" style="background-color: black;height: 100vh;">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero" style="background-color: black;">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-20">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/logo.png" style="width: 100%;" class="img-fluid pt-30">
              <h1 class="text-muted pt-30" style="font-size: 48px;margin-top: 18%;">    
                  <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
              </h1>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      
    </section>
 
  </div>