<footer class="footer" style="background-color: rgb(31, 31, 31);color: beige;text-align: center;">
 
  <div class="container" >
    <div class="row align-items-center justify-content-md-between">
      <div class="col-lg-12">
        <div class="copyright">Copyrights
          &copy; {{test | date: 'yyyy'}} <strong>Diverse</strong> All Rights Reserved. Made with ❤️ by
          <a href="https://degen.rocks/" target="_blank" style="color: white;"><strong>Degen Rocks</strong></a>.
        </div>
      </div>
    </div>
  </div>
</footer>
